body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.nav {
    margin: 0 auto;
    width:700px;
}

.main-menu-item {
    font-size: 20px;
    display: inline;
    margin: 30px;
    text-align: center;
}

.main-menu-link {
    color: #16a085;
    text-decoration: none;
    font-weight: 900;
}

.main-menu-link:hover {
    color: darkviolet;
}

.content-img {
    width: 130%;

}

.fon-color {
    background: #f5f6f7;
    border: 1px solid transparent;
}

.content-text {
    background: #f5f6f7;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    margin: 59px 105px;

}

.p-text {
    font-size: 16px;
    font-weight: 900;
    border-color: #f5f6f7;
    text-align: center;
    margin: 34px 105px;
}

.button-get {
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
    margin: 41px auto;

}


.foot {
    font-size: 16px;
    font-weight: 900;
    text-align: right;
    margin: 40px 105px;
}